html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-size:10px;
}
*{
    box-sizing:border-box;
}
input, button, select{
    border:1px solid black;
}
input[type='range'] {
    vertical-align: middle;
  }
h1, h2, h3, h4, h5, h6, p{
    margin:0;
    padding:0;
    font-weight:normal;
}

ul, li{
    margin:0;
    padding:0;
    list-style-type: none;
}
#menu{
    width:100%;
    height:4rem;
    padding-left:1rem;
}
#scenario-ui{
    line-height:4rem;
    position:absolute;
    top:0;
}
#player-ui{
    position:absolute;
    right:1rem;
    top:0;
}
#mounting-table{
    width:100%;
    height:calc(80% - 4rem);
    background:gray;
    position:relative;
    display:none;
}
#ressources{
    width:100%;
    height:20%;
    overflow:auto;
    position:absolute;
    bottom:0;
    border-top:1px solid black;
}


#ressources ul{
    width:25%;
    float:left;
    border-right:1px solid black;
    min-height:100%;
    padding:1rem;
    box-sizing: border-box;
}

#sources li{
    cursor: move;
}

#sources li:after{
    content:' ✥';


}

#mounting-table-ui{
    background:white;
    border-top:1px solid black;
    height:4rem;
    line-height:4rem;
    padding-left:1rem;
    
}
#mounting-table-dialog{
    width:25%;
    height:25%;
    position:fixed;
    top:50%;
    left:50%;
    font-size:2rem;
    transform:translate(-50%, -50%);
    background:lightgray;
    padding:1rem;
    box-shadow: 10px 10px 70px 0px rgba(0,0,0,0.75);
    border:1px solid black;
    z-index:1000;
    display:none;

}
#scale{
    background:white;
    width:100%;
    height:3rem;
    position:absolute;
    display:flex;
    top:calc(100% - 3rem);
   
}
#scale .step{
    position:relative;
    border-right:1px solid black;
    height:100%;
    
}
#scale .step:hover {
    border-color:red;
}
#scale .step span{
    display:none;

}
#scale .step:hover span{
    display:block;
    position: absolute;
    top:-3rem;
    right:0;
    padding:1rem;
    
    background:white;

    z-index:1;
}

#timeline-ui{
    height:calc(100% - 7rem);
    width:9rem;
    background:white;
    position:absolute;
    overflow:hidden;
    top:0;
    margin-top:4rem;
}
#timeline-log{
    height:3rem;
    bottom:0;
    padding:1rem;
    color:white;
    position:absolute;
    background:black;
    width:9rem;
}
#tracks-ui{
    position:absolute;

}
#timeline{
    height:calc(100% - 4rem);
    width:calc(100% - 9rem);
    overflow:hidden;
    position: relative;
    position:absolute;
    left:9rem;
    
}

#tracks{
    height:calc(100% - 3rem);
    overflow:auto; 
    
}
#timeline .track{
    height:100px;
    background:lightgray;
    position:relative;
    overflow:hidden;
}
#timeline .track:hover, #timeline .track.focus{
    background:rgb(230, 230, 230);
}

.track-ui{
    height:100px;
    border-top:1px solid black;
    padding:1rem;
}
.track{
    position:relative;
    
    height:100%;
}
 .track .audio-track,  .track .video-track{
    height:50%;
    position:relative;
    width:100%;
    border:1px solid gray;
}

.audio-track .source-audio, .video-track .source-image{
    height:100%;
    background:rgba(0, 255, 0, 0.3);
    position:absolute;
    
}
.audio-track .source-audio:hover, .video-track .source-image:hover{
    background:rgba(255, 0, 0, 0.3);
    cursor: move;
}
.audio-track .source-audio.selected, .video-track .source-image.selected{
    background:rgba(255, 0, 0, 0.3);
}
.track div.name{
    margin-left:1rem;
}
.audio-track .source-audio div.name:after{
    content:' (audio)';
}
.video-track .source-image div.name:after{
    content:' (image)';
}
.handle{
    position:absolute;
    height:100%;
    width:2px;
    top:0;
    background:black;

}
.left.handle{
    left:0;
    cursor:w-resize;
}
.right.handle{
    right:0;
    
    cursor:e-resize;
}