<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script-->
    
    <title>{{hostname}} says hello</title>
</head>
<body>
<section id="menu">
    <div id="scenario-ui" data-context="scenario" class="ui">
        <select id="scenarios" data-action="load">
            <option></option>
            {% for e in scenarios %}
            <option value="{{e}}">{{e}}</option>
            {% endfor %}
        </select>
        <button data-action="new">new scenario</button>
        <button data-action="save">save scenario</button>
    </div>
    <div id="player-ui" data-context="player" class="ui">
        player status : 
        <select id="player-scenarios" data-action="play">
            <option></option>
            <option>pause</option>
            {% for e in scenarios %}
            <option value="{{e}}">{{e}}</option>
            {% endfor %}
        </select>
    </div>
</section>
<section id="mounting-table">
    <div id="mounting-table-dialog"></div>
    <div id="mounting-table-ui" data-context="mounting-table" class="ui">
        <label for="scale-bt">scale : </label>
        <input type="range" min="1" max="100" value="50" class="slider" id="scale-bt" data-action="scale">
        <button data-action="new">new track</button>
        <label for="duration">duration (s) : </label>
        <input type="text" id="duration" data-action="duration">
    </div>
    <div id="timeline-ui">
        <div id="tracks-ui">
            
        </div>
        
    </div>
    <div id="timeline-log"></div>
    <div id="timeline">
        
        <div id="scale"></div>
        <div id="tracks">

        </div>
        
    </div>
    
</section>
<section id="ressources">
    <ul id="nodes">

    </ul>
    <ul id="sources">
    {% for e in sources %}
        <li draggable="true" data-duration="{{e.duration}}" data-type="{{e.type}}">{{e.file}}</li>
    {% endfor %}
    </ul>

</section>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>